@font-face {
    font-family: 'CLARENDON'; /* Nom de la police */
    src: url('./fonts/CLARENDON.woff') format('woff')
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: CLARENDON, Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: -webkit-linear-gradient(right, #ff9031, #f0e7db, #ff6ba8, #fe415e);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background: -webkit-linear-gradient(right, rgba(255, 144, 49, 0.5), rgba(240, 231, 219, 0.5), rgba(255, 107, 168, 0.5), rgba(254, 65, 94, 0.5));
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;

}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 75px auto 75px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    margin-top: 10px;
    width: 80%;
    background: -webkit-linear-gradient(right, rgba(220, 101, 0, 0.5), rgba(197, 184, 169, 0.5), rgba(255, 46, 130, 0.5), rgba(255, 37, 67, 0.5));
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-shadow:
            -1px -1px 0 #6e6e6e,
            1px -1px 0 #868686,
            -1px  1px 0 #ababab,
            1px  1px 0 #bebebe;
}

input[type="submit"]:hover {
    background: -webkit-linear-gradient(right, #ff9031, #f0e7db, #ff6ba8, #fe415e);
}

footer {
    background: -webkit-linear-gradient(right, #ff9031, #f0e7db, #ff6ba8, #fe415e);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
}

.file-input-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-wrapper .btn-upload {
    border: 2px solid #fe415e;
    color: #ff2e82;
    background: -webkit-linear-gradient(right, rgb(255, 191, 219), #f0e7db);
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}

select {
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-family: CLARENDON, Arial, sans-serif;
}

p {
    margin-top: 20px;
}

.italic{
    font-style: italic;
    color: darkgrey;
}

#username_title{
    color: #ff2e82;
}

a {
    text-decoration: underline;
    color: #525252;
}

a:hover{
    background: -webkit-linear-gradient(right, rgba(220, 101, 0, 0.5), rgba(197, 184, 169, 0.5), rgba(255, 46, 130, 0.5), rgba(255, 37, 67, 0.5));
    border-radius: 10px;

}
body {
    background: -webkit-linear-gradient(right, #ffffff, #ffeef7);
    background-repeat: no-repeat;
}
label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #ff2e82;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
#card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}
#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
#signup {
    color: #2db1bd;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn {
    background: -webkit-linear-gradient(right, #dc6500, #c5b8a9, #ff2e82, #ff2543);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 18px #24aec6;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #24aec6;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border {
    background: -webkit-linear-gradient(right, #7be0f7, #2e7ec0);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
.underline-title {
    background: -webkit-linear-gradient(right, #7be0f7, #2e7ec0);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

.nav_item {
    text-shadow:
            -1px -1px 0 #6e6e6e,
            1px -1px 0 #868686,
            -1px  1px 0 #ababab,
            1px  1px 0 #bebebe;
    transition: background 1s ease-in-out;
}

.nav_item:hover{
    background: -webkit-linear-gradient(right, rgba(220, 101, 0, 0.5), rgba(197, 184, 169, 0.5), rgba(255, 46, 130, 0.5), rgba(255, 37, 67, 0.5));
    border-radius: 10px;
}

.nav_item {
    background: transparent;
}
#project_title, #footer_text{
    text-shadow:
            -1px -1px 0 #6e6e6e,
            1px -1px 0 #868686,
            -1px  1px 0 #ababab,
            1px  1px 0 #bebebe;
}

#footer_text > * {
    text-shadow: none;
}

label, ::placeholder {
    font-family: 'CLARENDON', Arial, sans-serif; /* Utilisation de la nouvelle police */
}

#date_title {
    color: #771238;
}
